apiVersion: v1
kind: ConfigMap
metadata:
    name: nginx-conf
    namespace: web
data:
    nginx.conf: |
        user  nginx;
        worker_processes  1;

        error_log  /var/log/nginx/error.log warn;
        pid        /var/run/nginx.pid;

        events {
            worker_connections  1024;
        }

        http {
            include       /etc/nginx/mime.types;
            default_type  application/octet-stream;

            log_format  main  '$remote_addr - $remote_user [$time_local] "$request" '
                              '$status $body_bytes_sent "$http_referer" '
                              '"$http_user_agent" "$http_x_forwarded_for"';

            access_log  /var/log/nginx/access.log  main;

            sendfile        on;
            keepalive_timeout  65;

            upstream vproapp {
                server app.app.svc.cluster.local:8080;
            }

            server {
                listen       80;
                server_name  vprofile;
                
                location / {
                    return 301 https://$host$request_uri;
                }
            }

            server {
                listen 443 ssl;
                server_name vprofile;
                
                ssl_certificate     /etc/nginx/ssl/cert.pem;
                ssl_certificate_key /etc/nginx/ssl/key.pem;
                ssl_protocols       TLSv1.2 TLSv1.3;
                ssl_ciphers         HIGH:!aNULL:!MD5;
                ssl_prefer_server_ciphers on;

                location / {
                    proxy_pass http://vproapp;
                    proxy_set_header Host $host;
                    proxy_set_header X-Real-IP $remote_addr;
                    proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
                    proxy_set_header X-Forwarded-Proto $scheme;
                }

                error_page   500 502 503 504  /50x.html;
                location = /50x.html {
                    root   /usr/share/nginx/html;
                }
            }
        }

    generate-ssl.sh: |
        #!/usr/bin/env bash

        if [ -f  key.pem ] && [ -f cert.pem ];then
            echo "SSL certificate and key already exist. Skipping generation."
        else
            openssl req -x509 -newkey rsa:4096 -keyout key.pem -out cert.pem \
                -sha256 -days 3650 -nodes \
                -subj "/C=EG/ST=Cairo/L=Cairo/O=GoApplicatio/OU=ITservice/CN=www.goapplication.com"
        fi
